.form h1{
    text-align: center;
}

.form{
   background: black; 
   color:  white;
   padding-left: 30px;
   width: 75%;
   height: 50%;
   margin : auto;
}

.form label{
    padding-right: 10px;
}

.form input{
    position: absolute;
    left: 300px;
}

#ReturnButton{
    left: 17%;
    color: black;
    size: 200;
}
#ReturnButton:hover{
    color: red; 
}

#DrawButton{
    color: black;
    left: 25%;
}
#DrawButton:hover{
    color: #2ba11a;  
}

