<div class=form>
    <form>
        <title>Formulaire De Dessin</title>
        <h1>Creer un nouveau dessin</h1>
        <h2>Choisir la taille du dessin:</h2>
        <label>Largeur</label>
        <input  id="width" type="number" name="largeur" value= {{width}} (click)= "modifiedSize()">
        <br/>
        <br>
        <label>Hauteur</label>
        <input id ="height" type="number" name="hauteur" value={{height}} (click)="modifiedSize()">
        <br>
        <br>
        <h2>Choisir la couleur du dessin:</h2>
        <input type="hexadecimal" name="largeur" value= FFFF>
        <br>
        <br>
        <input type="button" value="Retour" id="ReturnButton" (click)="returnHandler()">
        <input type="button" value="Créer un Dessin" id="DrawButton" (click)="drawHandler()">
    </form>

</div>

<h1>Test</h1>
